body {
  background-image: url('./R.jpg');
}

.container {
  background-color: rgba(0, 0, 0, 0.397); /* Transparent black background */
  backdrop-filter: blur(5px); /* Blur effect */
  padding: 20px;
  color: white;
}
.vertical-line {
  border-left: 1px solid black;
  height: 100px; /* Adjust the height as needed */
}